<!doctype html>
<html lang="en-JP">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no, shrink-to-fit=no"/>
        <link rel="stylesheet" href="/styles/styles.min.css">
    </head>
    <body>