<header id="header">
    <div class="container">
        <h1>Local Weather</h1>
        <p><small>Information provided by <a href="https://www.yahoo.com/news/weather" target="_blank">Yahoo Weather</a></small></p>
    </div>
</header>
<main role="main">